/* General */
$fontSize:14px;
$bodyBgColor:#edf0f5;
$textColor:#333333;
$borderRadius:3px;
$transitionDuration:.2s;
$normalColor: #007ae5;
$warningColor: #f9c851;
$dangerColor: #ef6262;

/* Footer */
$footerBgColor:#ffffff;
