@import '../styles/variables';
@import '../styles/mixins';

.covid19-counter {
  position: relative;

  .count {
    color: #fff;
    font-size: 24px;
    padding: 7px 14px;
    @include border-radius($borderRadius);

    &.success {
      background-color: $successColor;
    }

    &.normal {
      background-color: $normalColor;
    }

    &.warning {
      background-color: $warningColor;
    }

    &.danger {
      background-color: $dangerColor;
    }
  }

  // override priemreact element
  .p-card-title {
    margin-bottom: 0;
    min-height: 3em;
  }

  .p-card-content {
    padding: 0;
  }
}